---
import Social from './Social.astro';
const platform = 'github';
const username = 'withastro';
---

<footer>
  <p>
    Learn more about my projects on
    <Social platform="twitter" username="astrodotbuild" />
    <Social platform="github" username="withastro" />
  </p>
</footer>
